# Redirect clients from HTTP to HTTPS
server {
    # HTTP
    listen 80;
    listen [::]:80;

    # Server settings
    server_name sample.localhost;

    # Redirect to HTTPS
    return 301 https://$server_name$request_uri;
}

# HTTPS clients
server {
    # HTTPS
    listen 443 ssl;
    listen [::]:443 ssl;

    # SSL certificate location
    ssl_certificate /etc/nginx/ssl/crb-dock.crt;
    ssl_certificate_key /etc/nginx/ssl/crb-dock.key;

    # Server settings
    server_name sample.localhost;
    root /var/www/sample;
    index index.php index.html index.htm;

    # Try to find all files after URI
    location / {
        try_files $uri $uri/ /index.php$is_args$args;
    }

    # Send all request for .php files to php fastcgi
    location ~ \.php$ {
        try_files $uri /index.php =404;

        fastcgi_index index.php;
        fastcgi_param SCRIPT_FILENAME $document_root$fastcgi_script_name;
        fastcgi_pass php-upstream;

        include fastcgi_params;
    }

    # Deny access to all files starting with .ht
    location ~ /\.ht {
        deny all;
    }

    # Logging
    error_log /var/log/nginx/error/$server_name.log;
    access_log /var/log/nginx/access/$server_name.log;
}
