#server block for port 80 / non-HTTPS traffic.
#redirect to HTTPS
server {
    listen 80;
    listen [::]:80;

    server_name sample.localhost;

    return 301 https://$server_name$request_uri;
}

#server block for port 443 / HTTPS traffic.
server {
    # For https
    listen 443 ssl;
    listen [::]:443 ssl;

    # SSL certificate location
    ssl_certificate /etc/nginx/ssl/crb-dock.crt;
    ssl_certificate_key /etc/nginx/ssl/crb-dock.key;

    # Server settings
    server_name sample.localhost;
    # server_name sample.localhost;
    root /var/www/sample/;
    index index.php index.html index.htm;

    location / {
        try_files $uri $uri/ /index.php$is_args$args;
    }

    location ~ \.php$ {
        try_files $uri /index.php =404;

        fastcgi_index index.php;
        fastcgi_param SCRIPT_FILENAME $document_root$fastcgi_script_name;
        fastcgi_pass php-upstream;

        include fastcgi_params;
    }

    location ~ /\.ht {
        deny all;
    }

    location /.well-known/acme-challenge/ {
        root /var/www/letsencrypt/;

        log_not_found off;
    }

    error_log /var/log/nginx/error/sample.crb.log;
    access_log /var/log/nginx/access/sample.crb.log;
}
